@import 'mixins';
// Example of mobile first
// Mobile bg is red
// tablet and up bg is blue
// Desktop and up bg is purple
// DO NOT leave these styles in on final code!
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background: red;
  padding: 10px;
  & > header {
    text-align: center;
    color: #fff;
  }
  .actions {
    text-align: center;
  }
  button {
    padding: 10px;
    margin: 12px;
    border: 1px solid #eee;
    border-radius: 7px;
    background-color: green;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
  }
  .items {
    display: grid;
    gap: 7px;
    .item {
      padding: 7px;
      background-color: #fff;
      text-align: center;
      &-title {
        font-size: 22px;
      }
      &-price {
        font-size: 18px;
      }
      img {
        width: 100%;
      }
    }
  }

  @include breakpoint(medium) {
    background: blue;
    .items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include breakpoint(large) {
    background: purple;
    button {
      font-size: 16px;
    }
    .items {
      grid-template-columns: repeat(4, 1fr);
      .item {
        &-title {
          font-size: 18px;
        }
        &-price {
          font-size: 16px;
        }
      }
    }
  }
}
